# Node dependencies
node_modules/

# Build outputs
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (optional, keep your .env out of git)
.env

# Misc
.DS_Store
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# SQLite DB file
*.db
finance.db

# VSCode settings
.vscode/
